.button {
    margin-right: 8px;
    margin-bottom: 5px;
    height: 3.2rem;
    width: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #000033;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: rgba(202, 191, 222, 0.372) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.button:hover {
    box-shadow: rgba(217, 198, 239, 0.644) 0px 3px 8px;
}